## Otimização de Carga com Algoritmo Genético

Importando bibliotecas

In [7]:
!pip install geneticalgorithm

Requirement already satisfied: geneticalgorithm in c:\users\cla_m\appdata\local\programs\python\python313\lib\site-packages (1.0.2)
Requirement already satisfied: func-timeout in c:\users\cla_m\appdata\local\programs\python\python313\lib\site-packages (from geneticalgorithm) (4.3.5)
Requirement already satisfied: numpy in c:\users\cla_m\appdata\local\programs\python\python313\lib\site-packages (from geneticalgorithm) (2.2.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd
from geneticalgorithm import geneticalgorithm as ga

Data

In [9]:
data = pd.read_csv("Itens.csv", sep=";")
data

    ID  PESO  VALOR  VOLUME
0    1   342   1136      32
1    2   305   5349      48
2    3   442   8487      26
3    4   944   4190      25
4    5   881   6644      47
5    6   183   3068      15
6    7   315   6675      40
7    8   450   5529      27
8    9   111   5905      40
9   10   676   7936      50
10  11   255   4307      16
11  12   515   8568      23
12  13   545   4498      24
13  14   909   8542      32
14  15   178   5084      39
15  16   410   9620      16
16  17    10   1749      32
17  18    57   6638      49
18  19   753   9623      20
19  20   924   2061      48

Summary Statistics: basic view

In [10]:
print(f"reg: {len(data)}")
print(f"sum_weight:{data['PESO'].sum()}")
print(f"sum_vol{data['VOLUME'].sum()}")
print(f"sum_value{data['VALOR'].sum()}")

reg: 20
sum_weight:9205
sum_vol649
sum_value115609

Variables: Constraints

In [11]:
max_weight = 6000
max_volume = 350
max_iterations = 10